:root {
    --background: #2C3333;
    --foreground: #395B64;
    --comment: #A5C9CA;
    --accent: #e8eb56;
    --accent2: #E7F6F2;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto Slab', serif;
    margin: 0.5em;
    font-size: 4em;
    letter-spacing: 0.02em;
    color: var(--accent);
}

.newGroceryForm {
    display: flex;
    justify-content: center;
}

#newGrocery {
    background-color: var(--foreground);
    color: var(--comment);
    padding: 0.3em;
    width: 20em;
    font-size: 1.5em;
    border-radius: 0.25em 0em 0em 0.25em;
}

#addBtn {
    background-color: var(--accent);
    color: var(--background);
    padding: 0.3em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0em 0.25em 0.25em 0em;
}

#addBtn:hover {
    background-color: var(--accent2);
}

#groceryList {
    display: flex;
    flex-direction: column;
    background-color: var(--foreground);
    align-items: left;
    justify-content: center;
    margin-top: 2em;
    border-radius: 0.25em;
}

.groceryItem {
    background-color: var(--accent2);
    color: var(--background);
    margin: 0.5em;
    width: auto;
    text-align: left;
    overflow-wrap: break-word;
    padding: 0.5em;
    border-radius: 0.15em;
    cursor: pointer;
}

.groceryItem:hover {
    background-color: var(--background);
    color: var(--foreground);
    font-weight: bold;
}

.container {
    margin: auto;
    width: 50%;
}